#header {
    background: #fff;
    height: 50px;
}
body {
    font-family: "Montserrat", sans-serif;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
    color: #aa7005;
}
.navbar a, .navbar a:focus {
    
    font-weight: 700;
    color: orange;
    color: rgb(236 155 5);
    padding: 10px 30px 10px 30px;
}
#login {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header, #hero, #main, footer {
    width: 90%;
    max-width: 1786px;
    margin-left: auto;
    margin-right: auto;
}
#hero {
    background: transparent;
    height:70vh;
    margin-top: 65px;
    border-radius: 10px;
}
#hero h2 {
    font-size: 36px;
    text-transform: uppercase;
}
#hero p {
    width: 35%;
    font-size: inherit;
    line-height: 2;
    font-weight: normal;
    
}
#hero .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
#hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
}
.footer-icons {
    margin-top: 0;
}
.footer-icons ul li a{
    color: #fff;
}
.footer-icons .facebook {
    background: dodgerblue;
}
.footer-icons .linkedin {
    background: darkblue;
}
.footer-icons .instagram {
    background: rebeccapurple;
}
.footer-area-bottom {
    background: #d9e4f1 none repeat scroll 0 0;
    padding: 15px 0;
}
#navbar2 a, #navbar2 a:focus {
    font-weight: normal;
    color: #807f7d;
    color: rgb(137 135 131);
    padding: 10px 20px 10px 20px;
}
.bold, .label{
    font-weight: 700;
}
.form-control{
    border: none;
    padding: 0.375rem 0.15rem;
    font-size: 0.75rem;
}
.border-right{
    border-right: 2px solid rgb(63, 63, 62);
}
form #explore {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    text-transform: uppercase;
}
.rounded{
    border-radius: 10px !important;
}
.area-padding {
    padding: 30px 0px 50px;
}
.services-icon {
    color: #2866e1;
}
.single-services>h4 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1786px;
    }
}